/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

/* main */

.content {
    height: calc(100vh - 3rem);
    background-color: black;
    width: 100%;
}

li {
    padding-right: 1rem;
}


/* nav */

.content nav {
    background-color: rgba( 0, 0, 0, 0.3);
    opacity: 0.6;
    width: 85%;
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-upgrade > a {
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    padding: .5rem;
    padding-inline: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #080B12;
    font-size: .8rem;
}

/* central */

.central{
    display: flex;
}

.central .left, .central .right {
    height: calc(100vh - 3rem);
}

/* left */

.central .left {
    background-color: black;
    width: 15%;
    display: flex;
    flex-direction: column;
    color: grey;
    position: relative;
}

.central .left > * {
    padding-left: 1rem;
}

.central .left > h4 {
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.central .left > span{
    padding-bottom: .5rem;
    font-size: .7rem;
}

.logo-left {
    width: 80%;
    padding: 1rem;
    padding-bottom: 1.2rem;
}

.central .left .left-row {
    display: flex;
    padding-bottom: .5rem;
}

.fa-square-plus {
    padding-right: .5rem;
}

.central .left .left-row img {
    width: 10%;
    padding-right: .2rem;
}

.fa-square-plus {
    font-size: 1.5rem;
}

.central .left .side-hr {
    width: 90%;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.fa-circle-user, .fa-circle-down {
    padding-right: .5rem;
}

.row-end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: .3rem;
}

.fa-circle-down {
    font-size: .8rem;
}

/* right */

.central .right {
    background-color: #141922;
    width: 85%;
    color: white;
    overflow-y: auto;
    padding-top: 5rem;
}

.central .right .right-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 0.8rem;
    padding-inline: .5rem;
}

.central .right > h3 {
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* prima linea */

.central .right .first-row, .double-row {
    display: flex;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.right .first-row .card img, .double-row .card img{
    width: 90%;
}

.circle {
    border-radius: 50%;
}

.first-row .card, .double-row .card {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > h5 {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card .subtitle {
    color: grey;
    font-size: 0.7rem;
}


.card .stranger-text {
    padding-inline: .5rem;
}

/* seconda e terza linea */

.right .create-for {
    color: grey;
    padding-left: 1.5rem;
    font-size: .8rem;
}

.right .double-row {
    padding-top: 1rem;
}

/* player menu */

.player-menu {
    height: 3rem;
    background-color: #282828;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
}

/* player left */

.player-menu .player-left {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: calc(100% / 3);
}

.player-menu .player-left img {
    width: 10%;
    padding-right: .5rem;
}

.player-left .player-left-text > h6 {
    color: white;
}

.player-left .player-left-text > span {
    font-size: .7rem;
    color: grey;
}

.fa-heart, .fa-folder {
    color: grey;
    padding-left: 1rem;
}

/* player center */

.player-center {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: center;
}

/* center top */

.player-menu .player-center-top {
    display: flex;
    color: white;
    font-size: .5rem;
}

.player-center-top > .fa-solid {
    font-size: .8rem;
    padding-top: .2rem;
    padding-inline: .5rem;
}

.player-center-top .btn-play {
    padding: .5rem;
    font-size: 1.2rem;
    padding-right: 1rem;
}

/* center down */

.player-menu .player-center-down {
    display: flex;
    color: white;
    font-size: .5rem;
    padding-top: .5rem;
}

.player-center-down .white {
    padding-left: .5rem;
}

.player-center-down .grey {
    padding-right: .5rem;
}

.player-center-down .btn-white {
    width: 100px;
}

.player-center-down .btn-grey {
    width: 200px;
    background-color: grey;
}

/* player right  */

.player-menu .player-right {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    width: calc(100% / 3);
    padding-right: .5rem;
}

.player-right > i {
    font-size: .8rem;
    padding-right: .5rem;
}

.player-right .btn-white {
    width: 20px;
    margin-bottom: .5rem;
}

.player-right .btn-grey {
    width: 60px;
    background-color: grey;
    margin-bottom: .5rem;
}