/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

/* MAIN */

.content {
    height: calc(100vh - 3rem);
    background-color: black;
    width: 100%;
}

li {
    padding-right: 1rem;
}


a {
    text-decoration: none;
    color: white;
}

/* NAV */

.content nav {
    background-color: rgba( 0, 0, 0, 0.3);
    opacity: 0.6;
    width: calc(100% - 193px);
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-upgrade > a {
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    padding: .5rem;
    padding-inline: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #080B12;
    font-size: .8rem;
}

.btn-upgrade :hover{
    font-size: 1rem;
}

/* CENTRAL */

.central{
    display: flex;
}

.central .left, .central .right {
    height: calc(100vh - 3rem);
}

/* CENTRAL-LEFT */

.central .left {
    background-color: black;
    width: 230px;
    display: flex;
    flex-direction: column;
    color: grey;
    justify-content: space-between;
    overflow-y: auto;
}

.central .left > * {
    padding-left: 1rem;
}

.central .left .first-section  > h4 {
    color: white;
    padding-top: 1rem;
}

.central .left > span{
    padding-bottom: .5rem;
    font-size: .7rem;
}

.left .logo-left {
    width: 80%;
    padding: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 0;
}

.left .small-logo{
    display: none;
}

.central .left .left-row {
    display: flex;
    padding-bottom: .5rem;
    align-items: center;
}

.left-row > a {
    color: grey;
    max-width: max-content;
}

.left-row > a:hover {
    color: white;
}

.fa-square-plus {
    padding-top: .5rem;
    font-size: 1rem;
}

.playlist-row:hover * {
    color: white;
}

.home {
    color: white;
}

.playlist-text {
    padding-top: .5rem;
    color: grey;
}

.playlist-text:hover{
    color: white;
}

.playlist-name {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
}

.playlist-name > a {
    padding-bottom: .5rem;
    color: grey;
}

.fa-square-plus {
    font-size: 2rem;
    color: grey;
}

.playlist-name > a {
    max-width: max-content;
}

.central .left .left-row img {
    width: 10%;
}

.central .left .side-hr {
    width: 90%;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.fa-circle-user, .fa-circle-down {
    padding-right: .5rem;
}

.user {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: .3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-right: 0;
    background-color: grey;

}

.fa-circle-down {
    font-size: .8rem;
}

.row-end > a {
    color: grey;
}

.row-end > a:hover{
    color: white;
}

.left-row .john {
    color: white;
    padding-left: .2rem;
}

/* BONUS */

.home-row {
    position: relative;
    max-width: max-content;
}

.home-row::before {
    content: "";
    background-color: yellowgreen;
    position: absolute;
    width: 2px;
    height: 25px;
    border-radius: 10px;
    top: 1;
    left: -15px;
}

/* CENTRAL-RIGHT */

.central .right {
    background-color: #141922;
    width: 100%;
    color: white;
    overflow-y: auto;
    padding-top: 5rem;
}


.central .right .right-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 0.8rem;
    color: grey;
    padding-inline: .5rem;
}

.central .right .right-menu a:hover{
    color: white;
    cursor: pointer
}

.central .right > h3 {
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.central .right .right-menu  a  {
    color: grey;
}

/* BONUS */

.bonus-bar {
    position: relative;
}

.bonus-bar::after {
    content: "";
    background-color: yellowgreen;
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    top: 15px;
    left: 27px;
}


/* FIRST-ROW */

.central .right .first-row, .double-row {
    display: flex;
    padding-left: 1rem;
    padding-right: 1.5rem;
    gap: 1rem
}

.right .first-row .card .img img, .double-row .card img{
    width: 100%;
}

.first-row .card, .double-row .card {
    flex-basis: calc((100% - (5 * 1rem)) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
}


.card > h5 {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card .subtitle {
    color: grey;
    font-size: 0.7rem;
    text-align: center;
}


.card .stranger-text {
    padding-inline: .5rem;
}

.card .img {
    position: relative;
}

.card .img:hover img {
    opacity: 0.5;
}

.card .img .img-hover {
    position: absolute;
    display: none;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .img:hover .img-hover {
    display: block;
    cursor: pointer;
    opacity: 1;
}


/* SECOND/THIRD ROW */

.right .create-for {
    color: grey;
    padding-left: 1rem;
    font-size: .8rem;
}

.right .double-row {
    padding-top: 1rem;
}

/* PLAYER-MENU */

.player-menu {
    height: 3rem;
    background-color: #282828;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
}

/* PLAYER-LEFT */

.player-menu .player-left {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: 25%;
}

.player-left img {
    width: 10%;
    padding-right: .5rem;
}

.player-left .player-left-text > h6 {
    color: white;
}

.player-left .player-left-text > span {
    font-size: .7rem;
    color: grey;
}

.player-left .player-left-text .name-song {
    color: grey;
}

.player-left .player-left-text .name-song:hover {
    color: white;
    text-decoration: underline;
}

.fa-heart, .fa-folder {
    color: grey;
    padding-left: 1rem;
}

.fa-heart:hover, .fa-folder:hover{
    color: white;
}

/* PLAYER-CENTER */

.player-center {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

/* CENTER-TOP */

.player-menu .player-center-top {
    display: flex;
    color: white;
    font-size: 1rem;
    padding-top: .2rem;
    gap: 1rem;
}

.player-center-top > .fa-solid {
    font-size: .8rem;
    padding-top: .2rem;
    padding-inline: .5rem;
}

.player-center-top .btn-play {
    font-size: 1.2rem;
}

.player-center-top .btn-play:hover{
    font-size: 1.3rem;
}

/* CENTER-DOWN */

.player-menu .player-center-down {
    display: flex;
    color: white;
    font-size: .5rem;
    padding-top: .5rem;
    align-items: center;
}

.player-center-down .white {
    width: 100px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.player-center-down .white:hover {
    background-color: yellowgreen;
    cursor: pointer;  
}

.player-center-down .white:hover .bar-circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: -.2rem;
    bottom: -.3rem;
}

.player-center-down .grey {
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background-color: grey;
}

.minute-start{
    padding-right: .5rem;
}

.minute-end {
    padding-left: .5rem;
}

/* PLAYER RIGHT  */

.player-menu .player-right {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    width: 25%;
    padding-right: .5rem;
}

.player-right > i {
    font-size: .8rem;
    padding-right: .5rem;
}

.player-right > a {
    padding-right: 1rem;
}

.player-right .btn-white {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.player-right .btn-white:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.player-right .btn-white:hover .bar-circle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    right: -.2rem;
    bottom: -.3rem;

}

.player-right .btn-grey {
    width: 60px;
    height: 2px;
    background-color: grey;
    border-radius: 10px;
}

/* MEDIA QUERY  */

/* CENTRAL RIGHT */

@media screen and (max-width: 600px) {
    .central .right{
        width: calc(100% - 50px);
}
}

@media screen and (max-width: 600px) {
    .central .right .right-menu {
        flex-wrap: wrap;
        font-size: .7rem;
        gap: 1.5rem
    }
}

@media screen and (max-width: 700px){
    .first-row .card, .double-row .card{
        flex-basis: calc((100% - (5 * 1rem)) / 2);
        flex-grow: 1;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
}

@media screen and (min-width: 700px){
    .first-row .card, .double-row .card{
        flex-basis: calc((100% - (5 * 1rem)) / 4);
        flex-shrink: 0;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
}

@media screen and (max-width: 1100px) {
    .central .right .right-menu {
        flex-wrap: wrap;
        font-size: .7rem;
        gap: 1.5rem
    }
}

@media screen and (max-width: 1100px){
    .central .right .first-row {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1100px){
    .first-row .card, .double-row .card{
        flex-basis: calc((100% - (5 * 1rem)) / 6);
        flex-shrink: 0;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
}

/* CENTRAL LEFT */

@media screen and (max-width: 600px) {
    .central .left {
        width: 50px;
    }
}

@media screen and (max-width:600px) {
    .central h4{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .left-row span, .playlist-name span, .row-end span {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .left-row i {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .small-logo{
        display: block;
        width: 80%;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}

@media screen and (max-width: 600px) {
    .logo-left {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .central .left .left-row img {
        width: 80%;
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .side-hr{
    display: none;
    }
}

@media screen and (max-width:600px){
    .fa-circle-down {
        margin-bottom: 1rem;
        width: 80%;
        padding-left: .5rem;
    }
}

/* PLAYER MENU*/

/* PLAYER-MENU LEFT */

@media screen and (max-width: 600px){
    .player-left {
        width: 35%;
    }
}

@media screen and (max-width: 600px){
    .player-menu .player-left img {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .player-left-text {
        width: 20%;
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px){
    .left-icon {
        display: flex;
        flex-direction: column;
        font-size: .7rem;
        gap: .2rem;
    }
}

/* PLAYER-MENU CENTER */

@media screen and (max-width: 600px) {
    .player-center-down .white{
    width: 30px;
    }
}

@media screen and (max-width: 600px) {
    .player-center-down .grey{
    width: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .player-center-down .grey{
    width: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .player-center-down .white{
    width: 50px;
    }
}


/* PLAYER-MENU RIGHT */

@media screen and (max-width: 600px) {
    .player-right{
    width: 20%;
    }
}